.container__bg{
    background-color: #f8f8f8;
}

.container__expert{
    position: relative;
    font-family: var(--font-second-family);
    font-weight: 400;
    font-size: 42px;
    color: #111;
}

.container__expert h2{
    padding-top: 150px;
    max-width: 744px;
}


.container__expert p{
    padding-bottom: 26px;
    font-family: var(--font-family);
    max-width: 670px;
    padding-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000;
    padding-bottom: 162px;
}

.container__expert-img{
    position: absolute;
    display: block;
    object-fit: cover;
    right: 0;
    top: 1px;
    padding-top: 40px;
    padding-left: 20px;
}

@media (width <= 1335px) {
    .container__expert-img{
        display: none;
        visibility: hidden;
    }

    .container__expert h2,
    .container__expert p{ 
        max-width: 100%;
    }
}

