.why__bg {
    background-color: #fff;
}

.container__why {
    font-family: var(--font-second-family);
    padding-top: 150px;
    font-weight: 600;
    font-size: 42px;
    color: #111;
    padding-bottom: 60px;
}

.why__display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 150px;
}


.container__why-border {
    box-shadow: 0 4px 41px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    padding: 26px 20px 30px; 
    min-height: 280px;      
}

.container__why-icon {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__why-icon img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container__why-reason {
    font-weight: 600;
    font-size: 20px;
    color: #000;
    text-align: center;
    padding-top: 15px;
}

.container__why-text {
    font-family: var(--font-family);
    padding-top: 13px;
    font-weight: 100;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #000;
}

@media (width <= 1024px) {
    .container__why {
        padding-top: 80px;
        font-size: 32px;
        padding-bottom: 40px;
    }

    .why__display {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 80px;
    }
}

@media (width <= 768px) {
    .container__why {
        font-size: 26px;
    }

    .container__why-reason {
        font-size: 18px;
    }

    .container__why-text {
        font-size: 16px;
    }
}

@media (width <= 576px) {
    .why__display {
        grid-template-columns: 1fr;
    }

    .container__why-border {
        min-height: auto;
    }
}
